<div class="centered-content">
    <div class="modal-box">
        <h1 class="'title">
            Update a created entry on a Game
        </h1>

        <!--Note that I got information on utilizing decimal numbers from Mdn Web Docs's article "<input type="number""
        (Mdn Web Docs, n.d.)-->

        <input class="input has-background-light is-medium" type="text" placeholder="List name of game...">
        <input class="input has-background-light is-medium" type="text" placeholder="List system of game...">
        <input class="input has-background-light is-medium" type="text" placeholder="List publisher of game...">
        <input class="input has-background-light is-medium" type="number" placeholder="List Nintendo eShop price of game..." step="0.01" min="0" max="100">
        <input class="input has-background-light is-medium" type="text" placeholder="List ESRB rating of game like Everyoneten+...">
        <input class="input has-background-light is-medium" type="text" placeholder="List whether own the game...">
        <input class="input has-background-light is-medium" type="text" placeholder="List if beat main story of game...">
        <input class="input has-background-light is-medium" type="number" placeholder="List units sold total on game...">
        <input class="input has-background-light is-medium" type="number" placeholder="List release year of game...">
        <input class="input has-background-light is-medium" type="number" placeholder="List personal rating of game out of ten...">



        <br><br>

        <!--</button> </button><button class="button is-primary has-text-white is-medium" (click)="updateVgorganizer(vgorganizerNameInput.value, vgorganizerSystemInput.value, vgorganizerPublisherInput.value, vgorganizerEshopUSApriceindollarsInput.value, vgorganizerRatingInput.value, vgorganizerOwngameInput.value, vgorganizerBeatmainstoryInput.value, vgorganizerUnitssoldtotalInput.value, vgorganizerReleaseyearInput.value, vgorganizerPersonalratingoutoften.value)" multiple>Create</button>-->
        <!--Tried doing command above in the button class (used to be button statement) but still resulted in a property error. Thinking it could be due to utilizing one schema but I am not fully sure.
        It could also have to do with the property can't be assigned with a non-empty object as noted
        by Angular University in their article "Typescript Type System Top 3 Key Concepts: How Does it Really Work, When Are Two Types Compatible?"-->

        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium">Save</button>

        </div>
    </div>
</div>
